<!-- This is an HTML file using an add-on, Handlebars,
     which makes it possible to use some variables and templates
     in your code. You can also just write plain HTML here, which
     is what I recommend for your project. -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A cool thing made with Glitch">

    <title>Chat server with p5.js</title>

    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">

    <!-- p5.js libraries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.2.0/p5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.2.0/addons/p5.sound.min.js"></script>
    
    <!-- socket.io client lib -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js"></script>

    <!-- import the webpage's client-side javascript file -->
    <script src="client.js" defer></script>
  </head>
  <body>

    <!-- TODO: ADD HTML ELEMENTS AS YOU SEE FIT HERE -->
    <main>
      <!-- p5.js will insert the canvas here by default -->
    </main>

  </body>
</html>